<!DOCTYPE html>
<html lang=en>
<head>
  <% include ../partials/async-head.ejs %>
  <link rel="stylesheet" type="text/css" href=" ../public/css/asyncstyle.css">
</head>
<body>
  <p>Hello World.</p>
  <script>


  </script>
</body>
