<% include ../partials/head.ejs %>
<body>
  <div id="header">
    <div id="logo">
      <p>Food Finder</p>
    </div>
  </div>
  <div id="statusBar"></div>
  <div id="map"></div>
  <div id="resultsContainer"></div>

  <!-- Foodfinder Javascript !-->
  <script>
    // Checks browser support for geolocation, then gets position
    // and calls 'setPosition' function
    $(document).ready(getPosition);

    function getPosition () {
      if (typeof navigator.geolocation != "undefined") {
        $("#statusBar").html("Finding food near you." + "<br/>" + "  (400 meter radius)...")
        navigator.geolocation.getCurrentPosition(setPosition, geoError);
      } else {
        alert("This page uses geolocation, and your " +
              "browser doesn't support it.");
      }
    }

    // Handles errors from the browser location check
    function geoError(errorObj) {
      console.log(errorObj.message);
    }

    // Called by geolocation 'getCurrentPosition()' within 'getPosition()' above
    function setPosition(position) {
      var coords = position.coords;
      var posLat = coords.latitude.toFixed(4);
      var posLng = coords.longitude.toFixed(4);
      // sets coordinate pair in 'foodFinder'
      gps = posLat + "," + posLng;
      makeRequest(gps);
    }

    // AJAX request call to /gCall
    function makeRequest(gps) {
      $.get({
        url: "/gcall",
        data: { "coordinates" : gps }
      })
      .done(function(msg) {
        // calls parseResponse below, sends body of call
        parseResponse(msg);
      });
    }

    // parses JSON object from AJAX call, prints info for each location item
    function parseResponse(msg) {
      var msgParse = JSON.parse(msg);
      var results = msgParse.results;
      // Object.keys(results).forEach(function(item) {
      //   console.log(item, results[item].name);
      // });
      buildHTML(results);
    }

    function buildHTML(results) {
      $("#statusBar").html("Here are all of the restaurants near you:" + "<br/>");
      if (Object.keys(results).length == 0) {
        $(document.getElementById("statusBar")).html("Sorry, no restaurants in range.")
      };
      // If there are results, create a div, with unique id, and write to DOM
      Object.keys(results).forEach(function(item) {
      //  console.log(item, results[item].name);
       var place = results[item];
       console.log(item + " " + place.name + " - " + place.vicinity);
       var thisResult = "result" + item;
       var thisDetail = "detail" + item;
       var resultDiv = $("<div/>").attr({
         id: thisResult,
         onclick: "detailToggle(this)"
       }).text(place.name);
       var detailDiv = $("<div/>").attr({
         id: thisDetail,
         class: "detail"
       }).text(place.vicinity);
       $(document.getElementById("resultsContainer")).append("</br>");
       $(document.getElementById("resultsContainer")).append(resultDiv);
       $(document.getElementById("resultsContainer")).append(detailDiv);
       });
    }

    function detailToggle (element) {
      $(element).next().toggleClass("detailShow");
    }

  </script>
</body>
</html>
