<% include ../partials/head.ejs %>
<body>
  <div id="header">
    <div id="logo">
      <p>Food Finder</p>
    </div>
  </div>
  <div id="statusBar"></div>
  <div id="map"></div>
  <div id="resultsContainer"></div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins|Pacifico" rel="stylesheet">

  <script>
    // Checks browser support for geolocation, then gets position
    // and calls 'setPosition' function
    if (typeof navigator.geolocation != "undefined") {
      $(document).ready(navigator.geolocation.getCurrentPosition(setPosition, geoError));
    } else {
      alert("This page uses geolocation, and your " +
            "browser doesn't support it.");
    }

    function geoError(errorObj) {
      console.log(errorObj.message);
    }

    // Called by geolocation 'getCurrentPosition()' above...
    function setPosition(position) {
      var coords = position.coords;
      var posLat = coords.latitude.toFixed(4);
      var posLng = coords.longitude.toFixed(4);
      // sets coordinate pair in 'foodFinder'
      gps = posLat + "," + posLng;
      console.log(gps);
      // AJAX request:
      $.get({
        url: "/gcall",
        data: { "coordinates" : gps }
      })
      .done(function(msg) {
        handleResponse(msg);
      });
    };

    function handleResponse(msg) {
      console.log("TEST RESPONSE: " + msg );
    };

  </script>
</body>
</html>
