<% include ../partials/head.ejs %>
<body>
  <div id="header">
    <div id="logo">
      <p>Food Finder</p>
    </div>
  </div>
  <div id="statusBar"></div>
  <div id="map"></div>
  <div id="resultsContainer"></div>
  <!-- jQuery 3.2.1 !-->
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins|Pacifico" rel="stylesheet">
  <!-- Foodfinder Javascript !-->
  <script>
    // Checks browser support for geolocation, then gets position
    // and calls 'setPosition' function
    $(document).ready(getPosition);

    function getPosition () {
      if (typeof navigator.geolocation != "undefined") {
        $("#statusBar").html("Finding food near you." + "<br/>" + "  (400 meter radius)...")
        navigator.geolocation.getCurrentPosition(setPosition, geoError);
      } else {
        alert("This page uses geolocation, and your " +
              "browser doesn't support it.");
      }
    }

    // Handles errors from the browser location check
    function geoError(errorObj) {
      console.log(errorObj.message);
    }

    // Called by geolocation 'getCurrentPosition()' within 'getPosition()' above
    function setPosition(position) {
      var coords = position.coords;
      var posLat = coords.latitude.toFixed(4);
      var posLng = coords.longitude.toFixed(4);
      // sets coordinate pair in 'foodFinder'
      gps = posLat + "," + posLng;
      makeRequest(gps);
    }

    // AJAX request call to /gCall
    function makeRequest(gps) {
      $.get({
        url: "/gcall",
        data: { "coordinates" : gps }
      })
      .done(function(msg) {
        // calls parseResponse below, sends body of call
        parseResponse(msg);
      });
    }

    // parses JSON object from AJAX call, prints info for each location item
    function parseResponse(msg) {
      var msgParse = JSON.parse(msg);
      var results = msgParse.results;
      Object.keys(results).forEach(function(item) {
        console.log(item, results[item].name);
      });
      //buildHTML(results);
    }

    // function buildHTML(results) {
    //   $("#statusBar").html("Here are all of the restaurants near you:" + "<br/>");
    //   Object.keys(results).forEach(function(item) {
    //    console.log(item, results[item].name);
    //   });
    //   for (var i = 0; i < results.length; i++) {
    //     var place = results[i];
    //     // console.log(place.name);
    //     var thisResult = "result" + i;
    //     var resultDiv = $("<div/>").attr({
    //       id: thisResult
    //     }).text(place.name);
    //     $(document.getElementById("resultsContainer")).append("</br>");
    //     $(document.getElementById("resultsContainer")).append(resultDiv);
    //   }
    // } else {
    //   $(document.getElementById("statusBar")).html("Sorry, no restaurants in range.")
    // }

  </script>
</body>
</html>
